#content .stage_5 {
	background: #fff;
	display: none;
}
#content .stage_5 .stage_content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1024px;
	height: 310px;
	margin-top: -144px;
	margin-left: -512px;
}
.stage_5_icon {
	position: relative;
	width: 1024px;
	height: 80px;
	margin: 0 auto 50px;
}
.stage_5_icon_box {
	margin:0 auto;
	width: 720px;
	height: 80px;
}
.stage_5_subIcon_wrap {
	float: left;
}
@keyframes bounce{
	0%{top: -260px;}
	50%{top: 0;}
	60%{top: -60px;}
	70%{top: 0;}
	80%{top: -40px;}
	90%{top:0;}
	100%{top: 0;}
}


.stage_5_subIcon {
	float: left;
	width: 90px;
	height: 80px;
	transition: .6s;
}
.stage_5_subIcon img {
	width: 90px;
	height: 80px;
}




















.stage_5_title {
	position: relative;
	margin: 0 auto 13px;
	width: 235px;
	height: 38px;
	z-index: 5;
	background: url(../img/text-stage-4-title-png8_a4cee1f.png) no-repeat;
}

.stage_5_text {
	position: relative;
	width: 510px;
	z-index: 5;
	margin: 0 auto 20px;
	font-size: 14px;
	line-height: 1.6;
	color: #333;
	text-align: center;
}